@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,500;1,100;1,200;1,300;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}



body{
    display: flex;
    height: 100%;
    width: 100%;
    background: #ccc;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    padding: 1rem;
    background: #cecece;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.body{
    margin-bottom: 10rem;
}

button{
    width: 80px;
}

.hide {
    display: none;
}

.show{
    display: inline;
}

.light{
    transition: .5s;
    background: #cece40;
}

.bg{
    transition: .5s;
    background: #ccc;
}

#msg{
    font-size: 1rem;
    padding: 5px;

}

audio{
    display: none;
}